Repository TeamCooks/hanspoon, pull requests merged in 2022-01, with the labels that each got.

#13 [Home Component & helmet ] 홈 컴포넌트 관련 파일 구성 및 helmet 라이브러리 세팅했습니다.
  .env
  .gitignore
  package.json
  src/components/Button/Button.js
  src/components/Card/Card.js
  src/components/Footer/Footer.js
  src/components/Header/Header.js
  src/components/HotRecipes/HotRecipes.js
  src/components/RandomRecipe/RandomRecipe.js
  src/components/index.js
  src/index.js
  src/pages/Home/Home.js
  src/utils/index.js
  src/utils/setDocumentTitle.js
Labels: enhancement, component

#26 [API] API 호출하는 유틸함수 세개 작성
  src/api/requestData.js
  src/pages/Layout/Layout.js
Labels: enhancement

#28 [Modal] 로그인/회원가입 및 상세페이지에 필요한 모달 컴포넌트 완성
  public/index.html
  src/App.js
  src/api/requestData.js
  src/assets/default.jpg
  src/components/Dialog/Dialog.js
  src/components/Dialog/Dialog.module.scss
  src/components/Dialog/DialogExample.js
  src/components/SignIn/SignIn.js
  src/components/SignUp/SignUp.js
  src/components/index.js
  src/pages/PageNotFound/PageNotFound.js
  src/pages/PageNotFound/PageNotFound.module.scss
  src/pages/Search/Search.js
  src/styles/index.scss
  src/utils/index.js
  src/utils/tabbable.js
Labels: component

#31 [SearchForm] 검색 컴포넌트 완성
  src/components/Header/Header.js
  src/components/Header/Header.module.scss
  src/components/SearchForm/SearchForm.js
  src/components/SearchForm/SearchForm.module.scss
  src/components/index.js
  src/pages/Layout/Layout.js
  src/styles/global.scss
  src/styles/utils/_color.scss
  src/styles/utils/_index.scss
Labels: component, style

#33 [Card] 카드 컴포넌트 완성
  .env
  config-overrides.js
  package.json
  src/components/Card/Card.js
  src/components/Card/Card.module.scss
  src/components/HotRecipes/HotRecipes.js
  src/components/RandomRecipe/RandomRecipe.js
  src/pages/Home/Home.js
  src/styles/index.scss
  src/styles/utils/_index.scss
  src/styles/utils/_unit.scss
Labels: enhancement, component, style

#36 [ Detail] 상세 컴포넌트 작성
  .gitignore
  package-lock.json
  src/assets/.keep
  src/assets/images/food-image-temp.jpg
  src/components/Accordion/Accordion.js
  src/components/Detail/Detail.js
  src/components/Detail/Detail.module.scss
  src/pages/Layout/Layout.js
Labels: enhancement, component

#38 [Utils] 텍스트에 포함된 태그를 제거하는 함수를 만들었습니다.
  src/utils/index.js
  src/utils/misc.js
Labels: enhancement, utilities

#41 [Detail] 상세 페이지의 레시피 정보를 Accordion 컴포넌트에서 화면에 출력하도록 했습니다.
  src/components/Accordion/Accordion.js
  src/components/Accordion/Collapse.js
  src/components/Accordion/Collapse.module.scss
  src/components/Accordion/CollapseContent.js
  src/components/Accordion/CollapseHeading.js
  src/components/Accordion/CollapseHeading.module.scss
  src/components/Detail/Detail.js
  src/components/Detail/Detail.module.scss
Labels: enhancement, component, detail

#42 Heading, Card 홈 페이지 모바일 및 데스크탑에 최적화되도록 개선
  config-overrides.js
  src/components/Card/Card.js
  src/components/Card/Card.module.scss
  src/components/Card/SkeletonCard.js
  src/components/Card/SkeletonCard.module.scss
  src/components/Heading/Heading.js
  src/components/Heading/Heading.module.scss
  src/components/HotRecipes/HotRecipes.js
  src/components/HotRecipes/HotRecipes.module.scss
  src/components/RandomRecipe/RandomRecipe.js
  src/components/RandomRecipe/RandomRecipe.module.scss
  src/pages/Home/Home.js
  src/pages/Home/Home.module.scss
  src/styles/base/_defaults.scss
Labels: enhancement, component, style, home

#43 Auth 컴포넌트 및 관련 로직들과 Search 페이지 컴포넌트의 useSearch 수정
  src/Hooks/index.js
  src/Hooks/useSearch.js
  src/components/Auth/Auth.js
  src/components/Auth/Auth.module.scss
  src/components/Dialog/Dialog.js
  src/components/Dialog/Dialog.module.scss
  src/components/Header/Header.js
  src/pages/Search/Search.js
  src/pages/Search/Search.module.scss
  src/services/auth.js
Labels: component, auth, search result

#48 Card 컴포넌트에 Dialog 로직 추가
  src/components/Card/Card.js
  src/pages/Search/Search.js
Labels: component, detail, search result

#51 홈, 검색결과 페이지 스타일 수정
  src/Hooks/useSearch.js
  src/components/Card/Card.module.scss
  src/components/HotRecipes/HotRecipes.js
  src/components/HotRecipes/HotRecipes.module.scss
  src/pages/Search/Search.js
  src/pages/Search/Search.module.scss
  src/styles/base/_defaults.scss
Labels: style

#54 Loading components 및 자잘한 버그 수정
  src/App.js
  src/Hooks/index.js
  src/Hooks/useAuth.js
  src/Hooks/useSearch.js
  src/components/Auth/Auth.js
  src/components/Card/Card.js
  src/components/Card/Card.module.scss
  src/components/Dialog/Dialog.js
  src/components/Loading/Loading.js
  src/components/index.js
  src/pages/Layout/Layout.js
  src/pages/Search/Search.js
Labels: bug, enhancement, component, common

#56 상세페이지에 북마크 개수, 조리완료 시간을 나타내는 라벨 컴포넌트 추가
  src/components/Card/Card.js
  src/components/Detail/Detail.js
  src/components/Label/Label.js
  src/components/Label/Label.module.scss
  src/pages/Home/Home.js
Labels: enhancement, component, style, detail

#55 Badge component 완성
  src/assets/icons/dairyFree.svg
  src/assets/icons/lactoOvo.svg
  src/components/Badge/Badge.js
  src/components/Badge/Badge.module.scss
  src/components/index.js
  src/pages/Example/Example.js
Labels: component, detail

#60 Seach Component 배경색 변경
  src/components/Heading/Heading.js
  src/components/SignIn/SignIn.module.scss
  src/components/index.js
  src/pages/Search/Search.js
  src/pages/Search/Search.module.scss
Labels: component, style, home

#61 홈, 검색 결과 페이지 버튼 추가 / 구조 및 스타일 수정
  src/components/Card/Card.js
  src/components/Card/Card.module.scss
  src/components/HotRecipes/HotRecipes.module.scss
  src/components/RandomRecipe/RandomRecipe.js
  src/components/RandomRecipe/RandomRecipe.module.scss
Labels: style, home, search result

#64 상세 레시피 정보 렌더링 및 아코디언 마크업
  src/components/Accordion/Accordion.js
  src/components/Accordion/Accordion.module.scss
  src/components/Accordion/Collapse.js
  src/components/Accordion/Collapse.module.scss
  src/components/Accordion/CollapseContent.js
  src/components/Accordion/CollapseHeading.js
  src/components/Accordion/CollapseHeading.module.scss
  src/components/Detail/Detail.js
  src/components/Detail/Detail.module.scss
  src/components/Dialog/Dialog.module.scss
  src/components/index.js
Labels: enhancement, component, detail

#65 Fix prop types of Label component
  src/components/Detail/Detail.js
  src/components/Label/Label.js
Labels: bug, component, detail

#73 auth 디버깅, 에러 메시지 및 레이아웃 스타일링
  package-lock.json
  package.json
  src/App.js
  src/Hooks/useAuth.js
  src/components/Auth/Auth.js
  src/components/Auth/Auth.module.scss
  src/components/Dialog/Dialog.module.scss
  src/components/Header/Header.js
  src/components/Menu/Menu.js
  src/contexts/AuthContext.js
  src/index.js
  src/pages/Search/Search.module.scss
Labels: auth, style

#74 검색 결과 페이지 스타일 수정
  src/Hooks/useSearch.js
  src/components/Card/Card.js
  src/components/Card/Card.module.scss
  src/pages/Search/Search.js
  src/pages/Search/Search.module.scss
Labels: style

#76 saveRecipe, removeRecipe 구현
  src/api/myRecipes.js
  src/pages/Example/Example.js
Labels: data, detail

#81 REROLL에 쓰로틀 적용, 구조 개선, 검색 결과 페이지 스타일 개선
  package-lock.json
  src/components/Card/Card.module.scss
  src/components/HotRecipes/HotRecipes.js
  src/components/HotRecipes/HotRecipes.module.scss
  src/components/RandomRecipe/RandomRecipe.js
  src/components/RandomRecipe/RandomRecipe.module.scss
  src/pages/Search/Search.module.scss
Labels: enhancement, style, home, search result

#82 모달창 열릴때 쿼리스트링 추가, 로고 컴포넌트, 색상 수정
  package-lock.json
  src/assets/icons/logoIcon.svg
  src/components/Card/Card.js
  src/components/Header/Header.js
  src/components/Header/Header.module.scss
  src/components/Heading/Heading.module.scss
  src/components/HotRecipes/HotRecipes.module.scss
  src/components/Loading/Loading.js
  src/components/Logo/Logo.js
  src/components/Logo/Logo.module.scss
  src/components/RandomRecipe/RandomRecipe.js
  src/components/SearchForm/SearchForm.module.scss
  src/components/index.js
  src/styles/utils/_color.scss
Labels: enhancement, style, common

#85 RequireAuth와 ErrorBoundary를 만들었어요.
  src/App.js
  src/components/Auth/Auth.js
  src/components/Auth/Auth.module.scss
  src/components/Dialog/Dialog.module.scss
  src/components/ErrorBoundary/ErrorBoundary.js
  src/components/ErrorBoundary/ErrorBoundary.module.scss
  src/components/index.js
  src/index.js
  src/pages/Authorized/Authorized.js
  src/pages/Layout/Layout.js
  src/pages/MyRecipes/MyRecipes.js
  src/pages/RequireAuth/RequireAuth.js
  src/pages/Search/Search.module.scss
  src/services/auth.js
  src/styles/base/_defaults.scss
  src/styles/global.scss
  src/styles/utils/_color.scss
Labels: enhancement, auth, home

#86 Detail component 레이아웃 수정
  src/components/Accordion/Accordion.module.scss
  src/components/Accordion/Collapse.js
  src/components/Accordion/CollapseContent.js
  src/components/Detail/Detail.js
  src/components/Detail/Detail.module.scss
Labels: component, style, detail

#88 메뉴에서 포커스 벗어났을때 닫히게 구현완료
  src/components/Accordion/Accordion.module.scss
  src/components/Logo/Logo.module.scss
  src/components/Menu/Menu.js
  src/components/Menu/Menu.module.scss
Labels: enhancement, component, style, home, common

#94 Detail 컴포넌트의 props 구조를 수정했습니다.
  src/components/Accordion/Accordion.module.scss
  src/components/Accordion/Collapse.js
  src/components/Accordion/CollapseContent.js
  src/components/Detail/Detail.js
Labels: enhancement, component, data, detail

#95 Modyfy the prop type of the badge component
  src/components/Accordion/Accordion.module.scss
  src/components/Badge/Badge.js
  src/components/Badge/Badge.module.scss
  src/components/Detail/Detail.js
  src/utils/misc.js
Labels: bug, component, style, utilities, detail

#96 feat: Add new state of IconButton
  src/App.js
  src/components/Button/Button.module.scss
  src/components/Button/IconButton.js
  src/pages/Example/Example.js
Labels: enhancement, component, style, detail

#97 Implement save functionality to Detail component
  src/api/myRecipes.js
  src/components/Detail/Detail.js
  src/components/Detail/Detail.module.scss
Labels: enhancement, component, data, detail

#102 Style Detail component
  src/components/Accordion/Accordion.module.scss
  src/components/Detail/Detail.js
  src/components/Detail/Detail.module.scss
Labels: component, style, detail

#104 ErrorBoundary 버그 수정 및 firestore my recipes 가져오는 순서 (최근 저장 순) 수정
  src/api/myRecipes.js
  src/components/CardList/CardList.js
  src/components/ErrorBoundary/ErrorBoundary.js
  src/components/Pagination/Pagination.js
  src/index.js
  src/pages/MyRecipes/MyRecipes.js
  src/pages/Search/Search.js
Labels: bug, data

#106 Add style to Accordion arrow
  src/components/Accordion/Accordion.module.scss
  src/components/Accordion/CollapseContent.js
  src/components/Detail/Detail.js
  src/components/Detail/Detail.module.scss
Labels: component, style, detail

#107 홈페이지 데스크탑 및 모바일 스타일 변경 / 핫 레시피 구현완료
  src/components/Card/Card.module.scss
  src/components/Heading/Heading.module.scss
  src/components/HotRecipes/HotRecipes.js
  src/components/HotRecipes/HotRecipes.module.scss
  src/components/RandomRecipe/RandomRecipe.module.scss
Labels: enhancement, style, home

#108 필요없는 파일 삭제
  src/api/customApi.js
  src/api/signIn.js
  src/api/signUp.js
  src/assets/images/default.jpg
  src/components/Auth/Auth.js
  src/components/CardList/CardList.js
  src/components/Detail/Detail.js
  src/components/Dialog/DialogExample.js
  src/components/SignIn/SignIn.js
  src/components/SignIn/SignIn.module.scss
  src/components/SignUp/SignUp.js
  src/pages/Example/Example.js
  src/pages/MyRecipes/MyRecipes.js
Labels: component, common

#110 Modify rendering when there is no information
  src/components/Accordion/Accordion.module.scss
  src/components/Accordion/Collapse.js
  src/components/Detail/Detail.js
Labels: bug, component, data, detail

#114 Dialog 코드 변경 및 header을 스크롤 방향에 따라 노출/숨김 처리
  src/components/Dialog/Dialog.js
  src/components/Dialog/Dialog.module.scss
  src/components/Header/Header.js
  src/components/Header/Header.module.scss
  src/components/HotRecipes/HotRecipes.js
  src/styles/base/_defaults.scss
Labels: component, style

#119 상세페이지 레이아웃 스타일 수정
  src/components/Accordion/Accordion.module.scss
  src/components/Accordion/CollapseContent.js
  src/components/Badge/Badge.js
  src/components/Badge/Badge.module.scss
  src/components/Detail/Detail.js
  src/components/Detail/Detail.module.scss
Labels: component, style, detail

#121 상세페이지 레이아웃, 스타일 수정
  src/assets/favicon_io/android-chrome-192x192.png
  src/assets/favicon_io/android-chrome-512x512.png
  src/assets/favicon_io/apple-touch-icon.png
  src/assets/favicon_io/favicon-16x16.png
  src/assets/favicon_io/favicon-32x32.png
  src/assets/favicon_io/favicon.ico
  src/assets/favicon_io/site.webmanifest
  src/components/Accordion/Accordion.js
  src/components/Accordion/Accordion.module.scss
  src/components/Accordion/CollapseContent.js
  src/components/Detail/Detail.js
  src/components/Detail/Detail.module.scss
Labels: component, style, detail

#122 RequireAuth 로딩상태 및 Dialog 스타일링의 소소한 버그 처리
  src/Hooks/useAuth.js
  src/components/Auth/Auth.module.scss
  src/components/CardList/CardList.js
  src/components/Dialog/Dialog.js
  src/components/Dialog/Dialog.module.scss
  src/components/Header/Header.js
  src/components/index.js
  src/contexts/AuthContext.js
  src/pages/MyRecipes/MyRecipes.js
  src/pages/RequireAuth/RequireAuth.js
Labels: bug, component, auth

#124 Fix scroll and layout of Detail
  src/components/Accordion/Accordion.module.scss
  src/components/Detail/Detail.module.scss
  src/components/Dialog/Dialog.module.scss
Labels: bug, component, detail

#127 Dialog min-height 주고 스크롤 처리
  src/api/customApi.js
  src/components/Card/Card.js
  src/components/Dialog/Dialog.module.scss
  src/components/Header/Header.js
  src/pages/Search/Search.js
Labels: style, detail

#128 레시피 저장기능 버그 수정
  src/api/customApi.js
  src/components/Card/Card.js
Labels: bug, data

#131 feat: Change recipe data structure
  src/components/Card/Card.js
Labels: data

#132 헤더 로그인 상태 감지 후 보여지게 수정
  src/components/Button/IconButton.js
  src/components/Button/button.types.js
  src/components/Header/Header.js
  src/pages/Search/Search.js
Labels: component, auth, style

#137 savedCount 변수이름 수정, 디테일 페이지 auth상태 반영
  src/api/customApi.js
  src/components/Card/Card.js
Labels: data, common

#136 Fix markup structure of accordion summary
  src/components/Accordion/Accordion.js
  src/components/Accordion/Accordion.module.scss
  src/components/Accordion/Collapse.js
  src/components/Accordion/CollapseContent.js
  src/components/Card/Card.js
  src/components/Detail/Detail.js
  src/utils/misc.js
Labels: bug, component, data, detail

#143 Add proptypes
  src/components/Accordion/Accordion.js
  src/components/Accordion/Collapse.js
  src/components/Accordion/CollapseContent.js
  src/components/Accordion/CollapseHeading.js
  src/components/Detail/Detail.js
Labels: enhancement, component, detail

#139 Sentry 연결했습니다.
  package-lock.json
  package.json
  public/index.html
  src/components/ErrorBoundary/ErrorBoundary.js
  src/components/Header/Header.js
  src/components/Header/Header.module.scss
  src/index.js
  src/styles/base/_defaults.scss
Labels: style, utilities

#140 favicon 적용, 블러처리 관련 로직 수정, 폰트 프리렌더 적용, 일부 스타일 수정
  public/index.html
  src/assets/fonts/Montserrat-Bold.woff2
  src/assets/fonts/Montserrat-Regular.woff2
  src/components/Accordion/Accordion.module.scss
  src/components/Card/Card.js
  src/components/Card/Card.module.scss
  src/components/Detail/Detail.module.scss
  src/components/HotRecipes/HotRecipes.js
  src/components/HotRecipes/HotRecipes.module.scss
  src/components/RandomRecipe/RandomRecipe.js
  src/components/RandomRecipe/RandomRecipe.module.scss
  src/styles/base/_defaults.scss
Labels: style, home, common

#145 모바일에서 summary 모두 나오는 부분 해결
  src/components/Card/Card.module.scss
Labels: bug

#146 마지막 코드 정리 (경로 수정, 스타일링 수정 등)
  src/App.js
  src/components/Accordion/Accordion.js
  src/components/Auth/Auth.js
  src/components/Card/Card.js
  src/components/Detail/Detail.js
  src/components/Dialog/Dialog.js
  src/components/ErrorBoundary/ErrorBoundary.module.scss
  src/components/HotRecipes/HotRecipes.js
  src/components/Menu/Menu.js
  src/components/RandomRecipe/RandomRecipe.js
  src/components/SearchForm/SearchForm.js
  src/components/index.js
  src/index.js
  src/pages/Home/Home.js
  src/pages/Layout/Layout.js
  src/pages/PageNotFound/PageNotFound.module.scss
Labels: style

#148 디버깅 및 레이아웃 무너짐 수정
  src/components/Auth/Auth.module.scss
  src/components/Pagination/Pagination.js
  src/pages/MyRecipes/MyRecipes.js
  src/pages/Search/Search.js
Labels: bug, style
